node_modules/
.next/
out/
build/
coverage/
*.tsbuildinfo
next-env.d.ts

playwright-report/
test-results/
blob-report/
.playwright/

.DS_Store
*.pem
.env*
!.env.example

.vercel/

.idea/
.vscode/
.vercel
/.stryker-tmp/
/reports/
